<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           formControlName="name">
                    <form-error [form]="form" name="name" [customErrors]="customMsg"/>
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                  <input type="number"
                         class="form-control"
                         placeholder="Precio del producto"
                         formControlName="price">
                  <form-error [form]="form" name="price" [customErrors]="customMsg"/>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                  <input type="number"
                         class="form-control"
                         placeholder="Existencias del producto"
                         formControlName="inStorage">

                  <form-error [form]="form" name="inStorage" [customErrors]="customMsg"/>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>




